interactions:
- request:
    body: null
    headers:
    method: GET
    uri: https://cmr.earthdata.nasa.gov/search/granules?short_name=HLSS30&version=2.0&readable_granule_name=HLS.S30.T15XWH.2024237T194859.v2.0
  response:
    body:
      string: <?xml version="1.0" encoding="UTF-8"?><results><hits>1</hits><took>566</took><references><reference><name>HLS.S30.T15XWH.2024237T194859.v2.0</name><id>G3217258739-LPCLOUD</id><location>https://cmr.earthdata.nasa.gov:443/search/concepts/G3217258739-LPCLOUD/1</location><revision-id>1</revision-id></reference></references></results>
    headers:
      CMR-Hits:
      - '0'
      CMR-Request-Id:
      - 187991ec-c1af-4b9c-bb51-2260812a50a4
      CMR-Search-After:
      - '["lpcloud",1724529119870,3217258739]'
      CMR-Took:
      - '567'
      Content-MD5:
      - 30015e191d02981012611dfe03c734bf
      Content-SHA1:
      - 865e1f86edaf7977c0803b1a74da8311d584ba10
      Content-Type:
      - application/xml; charset=utf-8
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
    method: GET
    uri: https://cmr.earthdata.nasa.gov/search/granules?short_name=HLSS30&version=2.0&readable_granule_name=HLS.S30.T36PWU.2024237T080609.v2.0
  response:
    body:
      string: <?xml version="1.0" encoding="UTF-8"?><results><hits>1</hits><took>50</took><references><reference><name>HLS.S30.T36PWU.2024237T080609.v2.0</name><id>G3217258797-LPCLOUD</id><location>https://cmr.earthdata.nasa.gov:443/search/concepts/G3217258797-LPCLOUD/1</location><revision-id>1</revision-id></reference></references></results>
    headers:
      CMR-Hits:
      - '0'
      CMR-Request-Id:
      - cb0fb5c5-0ebd-4d6b-84ec-19b8a79cee1f
      CMR-Search-After:
      - '["lpcloud",1724488004425,3217258797]'
      CMR-Took:
      - '50'
      Content-MD5:
      - 00432b37a5e35726aa5d72f3f3ba3e7e
      Content-SHA1:
      - eafc2891d5d190d484aa32e79b027f21507b7e7f
      Content-Type:
      - application/xml; charset=utf-8
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
    method: GET
    uri: https://cmr.earthdata.nasa.gov/search/granules?short_name=HLSS30&version=2.0&readable_granule_name=HLS.S30.T46TDQ.2024237T044659.v2.0
  response:
    body:
      string: <?xml version="1.0" encoding="UTF-8"?><results><hits>1</hits><took>19</took><references><reference><name>HLS.S30.T46TDQ.2024237T044659.v2.0</name><id>G3217258775-LPCLOUD</id><location>https://cmr.earthdata.nasa.gov:443/search/concepts/G3217258775-LPCLOUD/1</location><revision-id>1</revision-id></reference></references></results>
    headers:
      CMR-Hits:
      - '1'
      CMR-Request-Id:
      - f1078de6-fa61-4f31-8d9c-a51ba9fcdbdf
      CMR-Search-After:
      - '["lpcloud",1724475371010,3217258775]'
      CMR-Took:
      - '19'
      Content-MD5:
      - 3eeb98b2bcaf8a060cd5b62f598fbfb5
      Content-SHA1:
      - a497d064357b77c35f3050697195467ec2c57cf9
      Content-Type:
      - application/xml; charset=utf-8
    status:
      code: 200
      message: OK
version: 1
